/*
/*.class
*.jar
expresso-core/target/*
expresso-rest/target/*
expresso-cli/target/*

!.github/
!/assets
!/Diagrams 
!/examples
!/expresso-core
!/expresso-rest
!/expresso-cli
!/expresso-eshell
!/scripts
!/expresso*
!dockerfile
!pom.xml
!README.md
!.gitignore


expresso-cli/target/expresso-cli-0.1.0.jar
expresso-cli/target/expresso-cli-0.1.0.jar
expresso-cli/target/original-expresso-cli-0.1.0.jar
.github/workflows/a.yaml
