name: CI and CDelivery Orchestrator

on:
  push:
    branches: [dev]

permissions:
  contents: write
  actions: write

jobs:
  build:
    uses: ./.github/workflows/ci-build.yaml

  tests:
    needs: build
    uses: ./.github/workflows/ci-tests.yaml

  webapp:
    needs: build
    uses: ./.github/workflows/ci-webapp.yaml

  package-deb:
    needs:
      - build
      - tests
    uses: ./.github/workflows/ci-package-deb.yaml
    with:
      cli_jar_name: ${{ needs.build.outputs.cli_jar_name }}

  package-msi:
    needs:
      - build
      - tests
    uses: ./.github/workflows/ci-package-msi.yaml
    with:
      cli_jar_name: ${{ needs.build.outputs.cli_jar_name }}

  package-exe:
    needs:
      - build
      - tests
    uses: ./.github/workflows/ci-package-exe.yaml
    with:
      cli_jar_name: ${{ needs.build.outputs.cli_jar_name }}

  release:
    needs:
      - build
      - tests
      - webapp
      - package-deb
      - package-msi
      - package-exe
    uses: ./.github/workflows/ci-release.yaml
    with:
      dockerhub_available: ${{ needs.build.outputs.dockerhub_available }}
