name: CI and CDelivery Orchestrator

on:
  push:
    branches: [dev]

permissions:
  contents: write
  actions: write

jobs:
  build:
    uses: ./.github/workflows/ci-build.yaml

  tests:
    needs: build
    uses: ./.github/workflows/ci-tests.yaml

  packages:
    needs: build
    uses: ./.github/workflows/ci-packages.yaml
    with:
      cli_jar_name: ${{ needs.build.outputs.cli_jar_name }}

  release:
    needs:
      - build
      - tests
      - packages
    uses: ./.github/workflows/ci-release.yaml
    with:
      dockerhub_available: ${{ needs.build.outputs.dockerhub_available }}
